div.breadcrumbs.setup
{
    border-top: 5px solid #7A7A7A;
}


table.setup.req
{
    width: 100%;
}

table.setup.req tr td:nth-child(1)
{
    width: 80%;
}

table.setup.req tr td:nth-child(2)
{
    font-weight: bold;
}

table.setup.req tr td.true
{
    color: green;
}

table.setup.req tr td.false
{
    color: red;
}

table.setup.req tr:nth-child(2n)
{
    background-color: #EFEFE1;
}

table.setup.req tr:nth-child(2n-1)
{
    background-color: #F8F8F8;
}

a.setup
{
    border: none;
}