<form novalidate ng-submit="validate()" name="form">

    <div class="ui form top attached segment">
        <div class="required field">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" ng-model="model.name" required>
        </div>
    </div>

    <div class="ui bottom attached secondary right aligned segment ">
        <a class="ui black button" href="#/categories">Cancel</a>
        <button class="ui right labeled positive icon button" type="submit">
            Save <i class="right checkmark icon"></i>
        </button>
    </div>

</form>