<div class="ui top attached pink segment">
    <h3 class="ui column header">
        <i class="folder open icon"></i>
        <div class="content">
            Update Category
        </div>
    </h3>
</div>

<div class="ui bottom attached stacked segment">

    <div class="ui secondary  menu">
        <a href="#/categories" class="item">Overview</a>
        <a href="#/categories/create" class="item">Add Category</a>
        <a href="#/categories/{{model.id}}" class="active item">Update Category</a>
    </div>

    <ppma-category-form ng-model="model" submit="save()"></ppma-category-form>

</div>